.container{
    max-width: 1110px;
    margin: auto;
}
.col-12{
    width: 100%;
}
.col-6{
    width: 50%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.relative{
    position: relative;
}
.btn{
    padding: 12px 28px;
    border: 1px solid white;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.item__subtitle{
    margin-top:25px ;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.item__price{
    margin-top: 10px;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}
.item__img{
    padding: 55px 22px 56px 23px;
    background: var(--colGray);
}
.title{
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}
.title-bold{
    font-weight: bold;
}
.title-small{
    font-size: 24px;
    line-height: 32px;
}