.container{
    max-width: 1110px;
    margin: auto;
}
.col-6{
    width: 50%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}