.footer{
    height: 400px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url(../../img/footer/footerBackground.png) no-repeat center, #C4C4C4;
    background-size: cover;
}
.footer__content{
    justify-content: space-around;
}
.footer__title{
    margin: 80px 0 40px 0;
}
.footer__description{
    margin-bottom: 40px;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}
.footer__input{
    margin: 0;
    box-sizing: border-box;
    padding: 10px 0 11px 15px;
    width: 210px;
    height: 42px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.4); 
    color: var(--darkGray);
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}
::placeholder{
    color: var(--darkGray);
}
.footer__btn{
    margin-left: -2px;
    outline: none;
    border: none;
    width: 142px;
    height: 42px;
    color: white;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    background: #0F0F0F;
    cursor: pointer;
}
.footer__nav{
    padding-left: 15px;
}
.footer__links{
    box-sizing: border-box;
    margin: 0 20px 20px 0;
    padding: 10px 20px;
    height: 42px;
    color: white;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    background: #0F0F0F;
}